<div class="bg-blue-600 text-black py-4">
    <h4 class="text-2xl font-bold">Parent Component</h4>
    <div class="row shadow bg-light mb-5">
        <div class="col-8 mx-auto">
            <input type="text" placeholder="Enter your message" [ngModel]="post"  (input)="onInputChange($event)" class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300">
        </div>
    </div>
    <app-child [sendPost]="post" (commentEmitter)="receiveComment($event)"></app-child>
</div>
