<p>pipe works!</p>

<!-- <p>{{'hello'uppercase}}</p> -->
<!-- <p>{{date}}</p> -->
<p>{{time}}</p>
<p>{{time|date:'short'}}</p>
<p>{{time|date:'full'}}</p>
<p>{{time|date:'short'}}</p>
<p>{{time|date:'shortTime'}}</p>
<p>{{time|date:'fullTime'}}</p>
<p>{{time|date:'longTime'}}</p>
<p>{{time|date:'shortDate'}}</p>
<p>{{time|date:'d/m/y'}}</p>

<p>{{'Agriculture'|slice:4.11}}</p>
<p>{{'Techn0logy'|slice:4.11}}</p>

<p>{{4056780 | currency:'NGN':'sybmol-narrow'}}</p>
<p>{{456780|currency:'EUR':'code'}}</p>