<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error page</title>
</head>
<body>
    <div *ngFor="let show of showArray">
        <p>{{show}}</p>
    </div>
    <div class="row" *ngFor="let contact 
    contactService ">
        <div>
            <p>{{contact.Fullname}}</p>
            <p>{{contact.Username}}</p>
            <p>{{contact.Email}}</p>
        </div>
    </div>

</body>
</html>