<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Registration Page</title>
  </head>
  <body class="bg-gray-100">
    <div class="flex h-screen justify-center items-center">
      <div class="bg-white p-8 rounded shadow-md w-1/2">
        <h2 class="text-2xl font-semibold mb-4">Register</h2>
        <form>
          <div class="mb-4">
            <label for="firstname" class="block text-gray-600 font-medium">Full_Name</label>
            <input
              type="text"
              name="firstname"
              class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300"
              placeholder="Enter your FullName"
              [(ngModel)]="fullname"
            />
          </div>
          <div class="mb-4">
            <label for="lastname" class="block text-gray-600 font-medium">UserName</label>
            <input
              type="text"
              name="lastname"
              class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300"
              placeholder="Enter your User_name"
              [(ngModel)]="username"
            />
          </div>
          <div class="mb-4">
            <label for="email" class="block text-gray-600 font-medium">Email</label>
            <input
              type="email"
              name="email"
              class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300"
              placeholder="Enter your email address"
              [(ngModel)]="email"
            />
          </div>
          <div class="mb-4">
            <label for="address" class="block text-gray-600 font-medium">Address</label>
            <input
              type="text"
              name="address"
              class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300"
              placeholder="Enter your House Address"
              [(ngModel)]="address"
            />
          </div>
          <div class="mb-4">
            <label for="phone" class="block text-gray-600 font-medium">Phone</label>
            <input
              type="tel"
              name="phone"
              class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300"
              placeholder="Enter your phone number"
              [(ngModel)]="phone"
            />
          </div>
          <div class="mb-4">
            <label for="gender" class="block text-gray-600 font-medium">Gender</label>
            <select name="gender" class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300" [(ngModel)]="gender">
              <option value="Choose your gender">Choose your gender</option>
                 <option value="Male">Male</option>
                 <option value="Female">Female</option>
                 <option value="Prefer not to say">Prefer not to say</option>
            </select>
          </div>
          <div class="mb-4">
            <label for="password" class="block text-gray-600 font-medium">Password</label>
            <input
              type="password"
              name="password"
              class="w-full p-2 border border-gray-300 rounded focus:outline-none focus:ring focus:ring-blue-300"
              placeholder="Enter a password"
              [(ngModel)]="password"
            />
          </div>
          <button
            type="submit"
            class="bg-blue-500 text-white font-medium py-2 px-4 rounded hover:bg-blue-600 transition duration-300"
            (click)="addContact()"
          >
            Register
          </button>
        </form>
      </div>
    </div>
    
    <div class="flex flex-wrap justify-center items-center">
      <div class="grid grid-cols-3 gap-4">
        <div *ngFor="let contact of contactArray; let i = index" class="bg-white p-4 m-2 rounded-lg shadow-md">
          <div class="text-xl font-semibold">Welcome, {{ contact.Username }}</div>
          <div class="mt-2">
            <button class="px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-700" [routerLink]="[i]">View User Details</button>
          </div>
          <div class="mt-2 ms-4">
            <button class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-700" (click)="deleteUser(i)">Delete User Details</button>
          </div>
          <div class="mt-2">
            <button class="px-4 py-2 bg-green-500 text-white rounded hover:bg-blue-700">Edit User Details</button>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="flex flex-wrap justify-center items-center">
      <div class="grid grid-cols-3 gap-4">
        <div *ngFor="let contact of contactArray; let i = index" class="bg-white p-4 m-2 rounded-lg shadow-md">
          <div class="text-xl font-semibold">Welcome, {{ contact.Username }}</div>
          <div class="mt-2">
            <a [routerLink]="[i]">
              <mat-icon color="primary" class="cursor-pointer">visibility</mat-icon>
            </a>
          </div>
          <div class="mt-2 ms-4">
            <mat-icon (click)="deleteUser(i)" color="warn" class="cursor-pointer">delete</mat-icon>
          </div>
          <div class="mt-2">
            <mat-icon color="primary" class="cursor-pointer">edit</mat-icon>
          </div>
        </div>
      </div>
    </div> -->
  </body>
</html>
